
@{
    ViewData["Title"] = "About";
}
<div class="About" , style="background-color:peachpuff ; padding-top:unset; margin-block:auto ; color:black ; " >
    <h1 style="position:center">За нас</h1>
    <div style="color:black">
        <p>Нашият салон за маникюр "Style and color" предлага различни услуги и висококачествено обслужване</p>
    </div>
    <div style="color:black">
        <p>
            Заповядайте в студио за красота "Цвят и стил"!
            Тук ще Ви посрещнем в модерна и красива обстановка, специално създадена с мисъл за Вашия комфорт и приятно изживяване.
            Нашият екип от професионалисти, ще Ви предложи висок клас услуги в областта на маникюра, педикюра и ноктопластиката.
            Тук се грижим за нашите клиенти като предлагаме индивидуален подход с внимание и разбиране.
            Работим със световноизвестни марки, доказани със своето качество, осигуряващи дълготрайни и красиви резултати.
            Доверете се на опита ни и заповядайте в студио за красота Цвят и стил!
        </p>
    </div>
    <h2>
        <i class="icon-calendar"> </i>
        Работно време
    </h2>
    <ul class="work-time">
        <li>
            <span>Понеделник</span>
            <span>9:00 - 18:00</span>
        </li>
        <li>
            <span>Вторник</span>
            <span>9:00 - 18:00</span>
        </li>
        <li>
            <span>Сряда</span>
            <span>9:00 - 18:00</span>
        </li>
        <li>
            <span>Четвъртък</span>
            <span>9:00 - 18:00</span>
        </li>
        <li>
            <span>Петък</span>
            <span>9:00 - 18:00</span>
        </li>
        <li>
            <span>Събота</span>
            <span>10:00 - 16:00</span>
        </li>
        <li>
            <span>Неделя</span>
            <span>Почивен ден</span>
        </li>
    </ul>


</div>
