
@{
    ViewData["Title"] = "Contacts";
}


<h1 style="color: black;text-align: center; text-decoration: underline">Как да ни намерите ?</h1>

<div style="color:black">
    <ul class="info" style="text-align:center">
        <li>
            <span>Адрес</span>
            <span>гр.Пловдив, бул."Пещерско шосе" 195 , ет.3</span>
        </li>
        <li>
            <span>Телефон за връзка</span>
            <span>+359 882 734 661</span>
        </li>
        <li>
            <span>Email за обратка връзка</span>
            <span>info@StyleAndColor.bg</span>
        </li>
    </ul>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



