@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:peachpuff">
    <h6 class="display-4" style="color:black">Take care of your nails paint them color awesome</h6>
</div>

