@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" 
     style="background-image:url(https://i.pinimg.com/originals/54/36/54/543654bd27959743a09b152ad2f9c037.jpg">
    <h6 class="display-4" style="color:black">Take care of your nails paint them color awesome</h6>
</div>

