@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center"
         style=" background-image:url(https://bedazzlednailsandspa.com/images/gallery/02.jpg)">
        <h6 class="display-4" style="color:black">Take care of your nails paint them color awesome</h6>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>


